<% include header %>

<button type="button" onclick="location.href='/auth/signup'"><a href="/auth/signup">Sign up</a></button>
<button type="button" onclick="location.href='/auth/login'"><a href="/auth/login">Login</a></button>

<% include footer %>