<!DOCTYPE html>
    <head>
        <title>Student Crud</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav>
            <ul>
               <li><a href="/auth/signup">Sign up</a></li> 
               <li><a href="/auth/login">Login</a></li> 
            </ul>
        </nav>
        <div class="container">
            <%- messages() %>